---
import type { ListItemContact } from "@/types/ListItemContact";
interface Props {
  item: ListItemContact;
}
const { item } = Astro.props;
---

<li class="flex items-center space-x-3">
  <div
    class="rounded-full size-11 flex justify-center items-center border border-primary"
  >
    {
      typeof item.icono === "object" && "src" in item.icono ? (
        <img
          src={item.icono.src}
          alt={item.title}
          class="w-5 h-5 invert"
        />
      ) : (
        <item.icono class="w-5 h-5 invert" />
      )
    }
  </div>
  <div>
    <h3 class="text-primary uppercase tracking-widest text-sm">{item.title}</h3>
    <a
      href={item.url}
      target="_blank"
      rel="noopener noreferrer"
      class="text-white text-sm tracking-wide font-thin">{item.text}</a
    >
  </div>
</li>
