---
interface Props {
  eyebrow: string;
  title: string;
  align?: "left" | "center";
  textColor?: "white" | "black";
  titleColor?: string;
}

const {
  eyebrow,
  title,
  align = "left",
  textColor = "black",
  titleColor = "black",
} = Astro.props;

const alignment = align === "center" ? "text-center mx-auto" : "text-left";
const textColorClass = textColor === "white" ? "text-white" : "text-black";
const titleColorClass = `text-${titleColor}`;
---

<div class={alignment}>
  <h2
    class={`relative inline-block text-xs uppercase tracking-[0.2em] ${titleColorClass} mb-4 pl-6
    before:content-[''] before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2
    before:h-4 before:w-1 before:bg-secondary`}
  >
    {eyebrow}
  </h2>

  <p
    class={`text-4xl md:text-5xl lg:text-6xl leading-tight text-balance max-w-3xl ${textColorClass}`}
  >
    {title}
  </p>
</div>
